{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "quotes": ["error", "single", {"avoidEscape" : true}],
    "semi": ["error", "always"],
    "react/react-in-jsx-scope": "off",
    "object-curly-spacing": ["error", "always"],
    "no-console": "warn",
    "no-empty-function": "warn",
    "@typescript-eslint/no-empty-function": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": ["mock-server.js", "mocks.js"]
}
