.booksContainer {
    margin: var(--space-xl) var(--space-l);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-background-light);
}

.content {
    background-color: var(--color-background-dark);
    padding: var(--space-m);
}