.cardContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.backBtnContainer {
    margin-left: var(--space-xl);
    margin-bottom: var(--space-xs);
}

.backTxt {
    display: flex;
    column-gap: var(--space-xs);
    align-items: center;
}

.backArrow {
    font-size: 1.5em;
}