:root {

    /*spaces*/
    --space-xxs: 3px;
    --space-xs: 6px;
    --space-s: 12px;
    --space-m: 18px;
    --space-l: 24px;
    --space-xl: 30px;
    --space-xxl: 36px;
    --space-xxxl: 42px;
    --space-xxxxl: 48px;

    /*colors*/
    --color-border-light: #c2c2c2;
    --color-border-dark: #000;
    --color-background-light: #fff;
    --color-background-dark: #848484;
    --color-background-neutral: #d7d7d7;

    /*background*/
    --background-lines-1: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==") repeat;
    --background-lines-2: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc2JyBoZWlnaHQ9JzQ5Jz4KICA8cmVjdCB3aWR0aD0nMycgaGVpZ2h0PSc1MCcgZmlsbD0nI2ZmZicvPgogIDxyZWN0IHg9JzMnIHdpZHRoPScxJyBoZWlnaHQ9JzUwJyBmaWxsPScjY2NjJy8+Cjwvc3ZnPgo=") repeat;
    --background-dotes-1: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+") repeat;

    /*fonts*/
    --font-size-headers: 1.75em;
    --font-size-headers-2: 2em;
    --font-family-main: 'Mynerve', cursive;
    --font-family-emodji: 'Noto Emoji', sans-serif;

    /*forms*/
    --input-height: 30px;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: var(--font-family-main);
}

body {
    min-width: 500px;
}